.product-item {
  width: 300px;
  margin-top: 50px;
  padding: 20px;
  background-color: #f1f1f1;
  font-weight: 600;
  &__notification {
    font-weight: 400;
    padding-top: 10px;
  }
}

.strategy-switch {
  width: 300px;
  margin-top: 30px;
  padding: 10px;
  background: #e3e3e3;

  cursor:pointer;
  &:active {
    background: #eee;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
